<footer class="navbar navbar-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                <div class="footer-main">GET IN TOUCH</div>
                <div class="footer-sub">
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </div>
                <div class="footer-icons">
                    <a class="footer-icon-link" href="{{ linkedin_url }}" title="Linkedin">
                        <img class="footer-icon" src="{{ '/assets/images/social/linkedin.svg' | relative_url }}" alt="LinkedIn Link">
                    </a>
                    <a class="footer-icon-link" href="{{ upwork_url }}" title="Upwork">
                        <img class="footer-icon" src="{{ '/assets/images/social/upwork.svg' | relative_url }}" alt="Upwork Link">
                    </a>
                    <a class="footer-icon-link" href="{{ twitter_url }}" title="Twitter">
                        <img class="footer-icon" src="{{ '/assets/images/social/twitter.svg' | relative_url }}" alt="Twitter Link">
                    </a>
                    <a class="footer-icon-link" href="{{ instagram_url }}" title="Instagram">
                        <img class="footer-icon" src="{{ '/assets/images/social/instagram.svg' | relative_url }}" alt="Instagram Link">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

{% include scripts.html %}

{% include menu_modal.html %}