.post {
    margin: 2em auto;

    img {
       max-width: 100%;
       width: 95%;
       display: block;
       margin: .5em auto; 
    }
}

.post-title {
    font-size: 2em;
}

.post-meta {
    color: #999;
    font-size: .8em;
    margin: 1em 0 1.2em;
}